data/
results/
temp/delta_p.p
temp/iekfnets.p
temp/normalize_factors.p
src/__pycache__
ai-imu-dr/

# Ignoring data for now, upload elsewhere
raw-data-from-script/*

# Windows to WSL
*:Zone.Identifier
